.group
{
display: inline-flex;
margin: 0.7rem;
}
.group:focus-within
{
  transition:all .6s ease-out;
}
.group>.due-control{
  border-radius:0;
}
.group>.text
{
background: green;
outline: none;
cursor: pointer;
  border: none;
}
.transparent-bg
{
  background-color: rgba(0,0,0,0.34);
}
.bg-pay
{
  background: aliceblue;
}
.credit-log-table {
  width: 100%;
}
.credit-log-table tbody {
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
}
.credit-log-table thead, .credit-log-table tbody, .credit-log-table td, .credit-log-table th {
  display: block;
  text-align: center;
}
.credit-log-table tbody td {
  float: left !important;
  text-align: center111;

}
.credit-log-table thead tr th {
  float: left;
}