
.list-wrapper
{
    height: 100vh;
    width: 30%;
    padding: 0.7rem;
    top:100px;
    position:fixed;
    right: 0;
    z-index: 4;
    background:  aliceblue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#x-combobox>div{
padding: 0.2rem;
}
.focused{
    background-color: rgba(0, 0, 0, 0.075);
}