.tool-tip-container
{
    position: absolute;
    border: 1px solid cornflowerblue;
    pointer-events: none;
    transition: opacity 1s;
    min-width:170px;
    background-color: white;
    min-height: fit-content;
    box-shadow: rgb(0, 0, 0,0.7) 0px 2px 8px 0px;
}