* {
	margin: 0;
	padding: 0;
}
.error-text:not(:empty)::before
{
content: '**';
color:red;
}
.table-wrapper th,
td {
	border: 1px solid #7080906e;
	padding: 4px;
}
.table-wrapper table {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	border-top: 6px solid var(--table-border);
}

.table-wrapper th {
	font-size: 12px;
}
.table-wrapper tbody > tr > td:first-child,
.table-wrapper thead > tr > th:first-child {
	width: 30px;
	text-align: center;
}
.table-wrapper>table>thead>tr{
  background-color: var(--table-border);
  color:white
}
.table-wrapper > table {
	width: 100%;
}
.table-wrapper td.status {
	background-color: var(--success);
	color: white;
	text-align: center;
}
.table-wrapper td.action {
	padding: 0px 4px;
	margin: 0;
}

.is-invalid > .form-control {
	border: 1px solid var(--danger);
}
.is-invalid > .invalid-feedback {
	display: block;
	transition: all 1s ease-in;
}

button.action,
a.action {
	min-width: 100px;
	text-align: center;
	border: none;
	outline: none;
	padding: 0.1rem;
	overflow: hidden;
	opacity: 0.8;
	border: 10px;
	height: 29px;
	font-weight: bold;
	position: relative;
}

button.action:hover,
a.action:hover {
	opacity: 1;

	text-decoration: none;
	box-shadow: 0 0 0 0.2rem gainsboro;
	border-radius: 4px;
}
button.action::before,
a.action::before {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: translateX(-200%);
	content: '';
	background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
}
button.action:active:before,
a.action:active:before {
	left: 100%;
	transform: translateX(100%);
	transition: all 0.3s linear;
}

.app-head
{
	background: black;
	font-weight: bold;
	color: white;
	padding: 7px;
}
.fadeOut
{
	opacity: 0 !important;
	z-index: -1 !important;
transition:opacity 1s linear;
}
@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;display:none;;} 

 }
 .empty-table-body{
   width: 100%;
   height:540px;
 }
 .text-danger-grad
 {
	background:red;
	background-image: linear-gradient(to right, #FF4B2B, #FF416C);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	background-clip: text;
 }

 fieldset{
	 border:initial;
 }
 fieldset>legend{
	 width: auto;
 }

 .bg-app
 {
	 background-color: var(--table-border);
 }
 tr.selected{
	 background-color: rgba(0, 0, 0, 0.075);
 }